.nav {
    > div {
        display: flex;
        align-items: center;
    }

    width: 100%;
    padding: 0.8rem 1.5rem;

    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 1;

    background-color: #fff;
    box-shadow: 0 4px 12px #00000014, 0 0 1px #0100001a;
}

.navBrand {
    width: 35px;

    img {
        width: 100%;
        object-fit: cover;

        background-color: inherit;
        cursor: pointer;
    }
}

.navMiddle {
    width: 80%;
    padding: 0 1rem;

    .navSearch {
        &, * {
            background-color: #eee;
        }

        border-radius: 15px;
    }
}

.navRight {
    min-width: 300px;

    display: flex;
    justify-content: flex-end;

    color: #767676;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;

    .navSetting {
        display: flex;
        align-items: center;

        p {
            margin: auto;
        }

        img {
            object-fit: cover;
        }

        button {
            margin-right: 0.7rem;
        }
    }

    .hamburger {
        display: none;
    }

    .navSetting, .hamburger {
        cursor: pointer;
    }

    .link:hover, .hamburger:hover {
        color: #413F42;
    }
}

.profile {
    display: flex;

    .profileImg {
      width: 30px;
      margin: 0 0.7rem;

      border-radius: 50%;
    }
    
    p {
        margin: auto;
    }
}

.dropdownItem {
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;

    > * {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: #767676;
    }

    > p {
        margin: auto 0;
    }
}

.gitlab {
    margin-right: 0.9rem;

    font-size: 23px;
    color: black;
    cursor: pointer;
}

.gitlab:hover {
    transform: scale(1.06);
}

.dropdownItemLast {
    border-top: 1px solid #CFD2CF;
}

@media only screen and (max-width: 800px) {
    .navRight {
        min-width: 50px;
    }
    
    .navSetting {
        display: none !important;
    }

    .hamburger {
        display: flex !important;
    }
}