.nav {
    > div {
        display: flex;
        align-items: center;
    }

    width: 100%;
    padding: 0.8rem 1.5rem;

    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 1;

    background-color: #fff;
    box-shadow: 0 4px 12px #00000014, 0 0 1px #0100001a;
}

.navBrand {
    width: 35px;

    img {
        width: 100%;
        object-fit: cover;

        cursor: pointer;
    }
}

.navMiddle {
    width: 80%;
    padding: 0 1rem;

    .navSearch {
        &, * {
            background-color: #eee;
        }

        border-radius: 15px;
    }
}

.navRight {
    color: #767676;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    
    p {
        margin: auto;
    }

    .hamburger {
        display: none;
    }

    .navSetting, .hamburger {
        cursor: pointer;
    }

    .link:hover, .hamburger:hover {
        color: #413F42;
    }
}

.dropdownItem {
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;

    > * {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: #767676;
    }

    > p {
        margin: auto 0;
    }
}

.dropdownItemLast {
    border-top: 1px solid #CFD2CF;
}

@media only screen and (max-width: 800px) {
    .navSetting {
        display: none;
    }

    .hamburger {
        display: flex !important;
    }
}