.home {
    height: auto;
    width: 100%;
}

.hero {
    height: 600px;
    width: 100%;
    
    position: relative;
}

.heroImg {
    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &:after {
        height: 100%;
        width: 100%;

        position: absolute;
        left: 0;
        top: 0;

        background-image: linear-gradient(180deg,#00000061 0,#00000061 3.5%,rgba(0,0,0,.379) 7%,rgba(0,0,0,.377) 10.35%,rgba(0,0,0,.375) 13.85%,rgba(0,0,0,.372) 17.35%,rgba(0,0,0,.369) 20.85%,rgba(0,0,0,.366) 24.35%,rgba(0,0,0,.364) 27.85%,rgba(0,0,0,.361) 31.35%,rgba(0,0,0,.358) 34.85%,rgba(0,0,0,.355) 38.35%,rgba(0,0,0,.353) 41.85%,rgba(0,0,0,.351) 45.35%,#00000059 48.85%,rgba(0,0,0,.353) 52.35%,#0000005c 55.85%,rgba(0,0,0,.371) 59.35%,rgba(0,0,0,.385) 62.85%,rgba(0,0,0,.402) 66.35%,#0000006b 69.85%,#00000070 73.35%,#00000075 76.85%,#0000007a 80.35%,rgba(0,0,0,.498) 83.85%,rgba(0,0,0,.515) 87.35%,rgba(0,0,0,.529) 90.85%,#0000008a 94.35%,rgba(0,0,0,.547) 97.85%,#0000008c);
        content: "";
    }
}

.heroHeaderContainer {
    height: 100%;
    width: 100%;
    padding: 1rem;

    display: flex;
    align-items: center;
}

.heroHeader {
    width: 66.67%;
    margin: auto;

    > * {
        font-family: 'Roboto', sans-serif;
    }

    > h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
    }

    > h2 {
        font-size: 1.2rem;
        font-weight: 400;
        color: #fff;
    }

    .heroSearch {
        height: 50px;
        border-radius: 4px;
    }
}

.gridContent {
    width: 100%;
    padding: 2rem;
}


@media only screen and (max-width: 800px) {
  .hero {
    height: 350px;
  }

  .heroHeader {
    width: 100%;

    > h1 {
        font-size: 2rem;
    }

    > h2 {
        font-size: 01rem;
    }
    .heroSearch {
        display: none;
    }
  }  
}
