@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Nunito:wght@600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Ubuntu:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Kaya Toast */
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
  font-size: 18px;
  --spacing-xsmall: 8px;
  --spacing-small: 12px;
  --spacing-base: 16px;
  --primary-color: #ffc93c;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
:root,
#root {
  height: auto;
  min-height: 100vh;
  font-size: 16px;
}


body {
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #413f42;
    background: #e5e5e5;

    overflow: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: black;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}